 <!-- <select  id="sector-list" class="c1" name="tool-type">

<option value="1">蘋果</option>
<option value="2">香蕉</option>
<option value="3">橘子</option>
<option value="4">榴槤</option>
<option value="5">草莓</option>
<option value="6">西瓜</option>
<option value="7">檸檬</option>
<option value="8">哈密瓜</option>
     </select>  -->
     <!-- <select id="sector-list2" class="c2">

        <option value="1">九層塔</option>
        <option value="2">番茄</option>
        <option value="3">高麗菜</option>
        <option value="4">青江菜</option>
        <option value="5">韭菜</option>
        <option value="6">大陸妹</option>
        </select> -->